button{
    background-color: hsl(210, 100%, 50%);
    border: none;
    color: #ffffff;
    align-self: center;
    border-radius: 4px;
    padding: 1rem;
    cursor: pointer;  
    min-height: 2vh; 
}


button:hover{
    background-color: hsl(210, 100%, 40%);
    transition: 0.3s; 
}

