.box{
    display:flex;
    width: 100vw;
    height: 80vh;
    flex-direction: column-reverse;
}

.resizable-stuff{
    background-color: darkblue;
    width: 100%;
    min-height: 60%;
    color: white;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-top: 2px solid black;
    transition: height 0.1s linear;
}

.stuff{
    display: inline-flex;
    align-content: center;
    justify-content: center;
    position: relative;
    top: -8px;
    width: 100%;
    color: red;
    height: 10px;
}